@import url('https://fonts.googleapis.com/css?family=Open+Sans | Roboto');

body {
    background-color: #b392ac;
    color: #ffeee2;
}
h1 {
text-align: center;
margin-bottom: 60px; /* abstand zum text unten*/
color: #4A2545;
font-family: 'Roboto', sans-serif;
}

h2 {
font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

#Auswahl {
    width: 48%;
    float: left; /* damit die aufgeteilt sind und nicht alles untereinander*/
    padding-left: 60px; /* weiter reingeschoben. also 60px von dem bildschirm nach rechts reingeschoben, damit es nicht eingequetscht ist*/

}

aside {
    width: 48%;
    float: left;
}

option [value=""] [disabled] {
    display: none;
}




