 html {
  font-family: Arial;
 }

 .card {
  position: absolute;
  width: 100px;
  height: 160px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px; /*Das die Kanten abgerundet sind*/
  padding: 5px;
  background-color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
 }
 
 .card > .bg {
  border-radius: 10px;
  height: 100%;
  width: 100%;
 }
 
 .card > .circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: ellipse(35% 45% at 50% 50%); /*für die jeweiligen Browser*/
  clip-path: ellipse(35% 45% at 50% 50%); 
  background-color: white;
  transform: rotate(30deg); /*um 30 Grad gedreht*/
 }
 
 .card > .red {
  background-color: red;
  }
 
 .card > .blue {
  background-color: blue;
 }
 
 .card > .green {
  background-color: green;
 }
 
 .card > .yellow {
  background-color: yellow;
 }
 
 .card > .top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
 }
 
 .card > .bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
 }
 
 .card > .center {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*mit top und left, zentriert es genau in die Mitte*/
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
 }
 
 .card > .red + .circle + .top-left + .center {
  color: red;
 }
 
 .card > .green + .circle + .top-left + .center {
  color: green;
 }
 
 .card > .blue + .circle + .top-left + .center {
  color: blue;
 }
 
 .card > .yellow + .circle + .top-left + .center {
  color: yellow;
 }
 
 
