 html {
  font-family: Arial;
 }

 .card {
  position: absolute;
  width: 100px;
  height: 160px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px; /*abgerundete Ecken*/
  padding: 5px; /*Abstand vom äußeren Element ins innere*/
  background-color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
 }
 
 .card > .bg { /*wenn */
  border-radius: 10px;
  height: 100%;
  width: 100%;
 }
 
 .card > .circle { /*Der Kreis in der Karte, wird gedreht*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-clip-path: ellipse(35% 45% at 50% 50%); /*sorgt dafür, dass es in allen Browsern gezeigt wird.. (Safari, Chrome,..)*/
  clip-path: ellipse(35% 45% at 50% 50%); /*weite, höhe, Zentrierung*/
  transform: rotate(30deg); /*wird um 30 Grad gedreht*/
 }
 
 .card > .red {
  background-color: red;
  
 }
 
 .card > .blue {
  background-color: blue;
 }
 
 .card > .green {
  background-color: green;
 }
 
 .card > .yellow {
  background-color: yellow;
 }
 
 .card > .top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
 }
 
 .card > .bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
 }
 
 .card > .center {
  position: absolute;
  float: left; /*fängt immer von links an*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*verschiebung in die Mitte*/
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
 }
 
 .card > .red + .circle + .top-left + .center {
  color: red;
 }
 
 .card > .green + .circle + .top-left + .center {
  color: green;
 }
 
 .card > .blue + .circle + .top-left + .center {
  color: blue;
 }
 
 .card > .yellow + .circle + .top-left + .center {
  color: yellow;
 }

 
 